
# === Backend ===
/backend/node_modules/
/backend/.env
/backend/utils/input/
/backend/utils/outputs/
/backend/utils/codes/

# === Frontend ===
/frontend/interface/node_modules/
/frontend/interface/.env


keys